@font-face {
    font-family: 'CascadiaMono';
    src: url(./CascadiaMono.ttf);
}
*{
    font-family: 'CascadiaMono';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 20px rgba(242, 70, 70, 0.3);
  }
  .logo {
    width: 75%;
  }
  .sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #edf0f1;
    display: block;
    transition: 0.3s;
  }
  .sidenav .copyright {
    position: absolute;
    display: flex;
    bottom: 0;
    margin-left: 25%;
    font-size: 15px;
  }
  
  .sidenav a:hover {
    color: #f24646;
  }
  body {
      background-color: #2c2c2c;
  }
  
  #main {
    transition: margin-left .5s;
    color: #edf0f1;
    padding-top: 60px;
    margin-left: 50px;
    font-family: 'CascadiaMono', sans-serif;
    padding-bottom: 0px;
  }
  
  @media screen and (max-width: 550px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
      opacity: 0;
    }
  }
  .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    background: rgba(242, 70, 70, 1);
    width: 15%;
    height: 10px; 
    box-shadow: 0px 0px 20px #202020;
}
.title {
  padding-top: 165px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf0f1;
  font-family: 'CascadiaMono', sans-serif;
}
p {
  margin-left: 35%;
  font-size: 18px;
}