@font-face {
    font-family: 'CascadiaMono';
    src: url(./CascadiaMono.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#2c2c2c;
    scroll-behavior: smooth;
    
}
.cta {
    background-color:#2c2c2c;
}
.download {
    padding: 13.5px 37.5px;
    font-size: 20px;
}
li, a, button {
    font-family: 'CascadiaMono', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #202020;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #202020;
    box-shadow: 0px 0px 20px rgba(242, 70, 70, 0.3);
    z-index: 100;
}
header {
    left: 0;
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #202020;
    box-shadow: 0px 0px 20px rgba(242, 70, 70, 0.3);
    z-index: 100;
}
.logo {
    cursor: pointer;
    width: 100px;
    margin-right: auto;
    background-color: #202020;
}
.nav__links {
    list-style: none;
    background-color: #202020;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #f24646;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(242, 70, 70, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #edf0f1;
    color:rgba(242, 70, 70, 1)
}
.content {
    color: #edf0f1;
    padding-top: 60px;
    margin: 20px 20%;
    font-family: 'CascadiaMono', sans-serif;
    padding-bottom: 0px;
}
.docs {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf0f1;
    font-family: 'CascadiaMono', sans-serif;
    padding-top: 180px;
    padding-bottom: 40px;
}
.title {
    padding-top: 165px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf0f1;
    font-family: 'CascadiaMono', sans-serif;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    background: rgba(242, 70, 70, 1);
    width: 30%;
    height: 10px; 
    box-shadow: 0px 0px 20px #202020;
}
@media (max-width: 979px) {
    .content {
      padding-top: 0px;
    }
  }
.copyright {
    color: #edf0f1;
    font-family: 'CascadiaMono', sans-serif;
    background-color: #202020;
}
.acatiadroid {
    color: #f24646;
    margin-left: 5px;
    margin-right: 5px;
}
.line2 {
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    background: rgba(242, 70, 70, 1);
    width: 5%;
    height: 10px; 
    box-shadow: 0px 0px 20px #202020;
}
.roadmap-map {
    background-color: #242424;
    padding: 15px 15px;
    border-radius: 10px;
    
}
.roadmap-top {
    background-color: #242424;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    margin-bottom: -15px;
}
.roadmap-date {
    background-color: #242424;
    color:rgba(242, 70, 70, 1);
    margin-right: 20px;
    
}
.roadmap-title {
    background-color: #242424;
    margin-left: 20px;
    
}
.roadmap-desc {
    background-color: #242424;
    margin-left: 40px;
    margin-bottom: 15px;
}
.tab {
    margin-left: 40px;
}
.code {
    background-color: rgba(32, 32, 32, 0.6);
    padding: 10px 10px;
    border-radius: 10px;
}
